@font-face {
  font-family: Optima;
  src: url("../src/fonts/OPTIMA.TTF");
}

@font-face {
  font-family: Amatic;
  src: url("../src/fonts/AmaticSC-Bold.ttf");
}

@font-face {
  font-family: Myrad;
  src: url("../src/fonts/MYRIADPRO-BOLD.OTF");
}

body {
    background: url('./img/bgbg.jpg');
    height: 100%;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
  user-select: none;
}

.step:not(.active):not(.step:first-child) {
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.step:not(.active):not(.step:first-child) div{
  display: contents;
}



.step:not(.active):first-child{
  font-family: Amatic;
}

.step:not(.active):not(.step:first-child):hover {
  opacity: 1;
}

.step:not(.active):not(.step:first-child) h2{
  transform: scale(2.5);
  font-family: Optima; 
  background: rgba(229,235,246,0.7);
  font-weight: bolder;
  font-size: 5rem;
  font-style: normal;
  transition: all 1s ease-in-out;
  padding: 3rem;
  width: 1000px;
  margin: auto;
  color: black;
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
}

.step:not(.active):not(.step:first-child) h2:hover{
  background: rgb(229,235,246);
  transform: scale(2.7);
  color: #e4022c;
}


.step:not(.active) *{
  display: none;
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}

.ReactModal__Overlay--after-open{
  opacity: 1;
}

.ReactModal__Overlay--before-close{
  opacity: 0;
}

.ReactModal__Overlay {
  background: #00000066 !important;
}

.ReactModal__Content {
  border-radius: 12px !important;
}

/* OverWritting the Bootstrap styles */

.dropdown-toggle{
  background: none !important;
  border: none !important;
  text-align: right !important;
  color: black !important;
  font-family: Myrad;
}

.dropdown-menu{
  /* background-color: #f9f9f952 !important; */
}

.dropdown-toggle:hover,
.dropdown-toggle:active{
  color: #e4022c !important;
}