body {

  background: url('./img//bgLarge.png') center/cover;
  user-select: none;
}

.step:not(.active):not(.step:first-child) {
  opacity: 0.8;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.step:not(.active):not(.step:first-child):hover {
  opacity: 1;
}

.step:not(.active):not(.step:first-child) h2 {
transform: scale(2.6);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: rgba(114,168,93,0.5);
  width: fit-content;
  font-weight: bold;
  letter-spacing: 4px;
  font-style: normal;
  transition: all 1s ease-in-out;
  border-radius: 10%;
  height: 400px;
  width: 650px;
  margin: auto;
  color: black;
  border: 20px solid #2f2923;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}

.ReactModal__Overlay--after-open{
  opacity: 1;
}

.ReactModal__Overlay--before-close{
  opacity: 0;
}

.ReactModal__Overlay {
  background: #00000066 !important;
}

.ReactModal__Content {
  border-radius: 12px !important;
}

